.logo {
    display: inline-flex;
    // align-self: start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &__img {
        max-width: 60px;
        max-height: 60px;
    }
}