.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        margin: 0 10px;
    }
    &__item {
    }
    &__link {
        padding: 10px;
        display: inline-block;
        &:hover {
            background-color: rgba($main-text-color, $alpha: 0.5);
        }
    }
}