html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font-family;
    font-size: $main-font-size;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
    color: var(--body-color);
    background-color: var(--body-bg);
}

a {
    color: inherit;

    // transition: 0.3s;
    &:hover {
        // color:var(--link-color-hover);
    }
}

img {
    user-select: none;
}

.container {
    max-width: $container * 1px;
    padding: 0 10px;
    margin: 0 auto;
}

*::selection {
    // color: var(--selector-color);
    // background-color: var(--selector-bg);
}