html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font-family;
    font-size: $main-font-size;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
    color: var(--main-text-color);
    background-color: var(--main-bg);
}

a {
    color: inherit;
    // transition: 0.3s;
    &:hover {
        color:var(--link-color-hover);
    }
}

img {
    -webkit-user-select: none; /* Safari, Chrome та нові версії Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer та Edge */
    user-select: none; /* Стандарт */
}

.container {
    max-width: $container;
    padding: 0 10px;
    margin: 0 auto;
}

*::selection {
    color: var(--selector-color);
    background-color: var(--selector-bg);
}