
//==================================================
//============ CONTAINER ===========================
//==================================================
$maxWidth: 1220;
$container: $maxWidth + px;

//==================================================
////============ COLOR =============================
//==================================================

:root {
    --main-bg: #ffffff;
    // --second-bg: #252525;

    --main-text-color: #252525;
    // --second-text-color: #ffffff;

    --selector-color: #ffffff;
    --selector-bg: #ff000080;   //50%

    --a-hover: #ffffff;
    --a-bg-hover: #25252580;   //50%
}
.dark-theme {
    --main-bg: #252525;
    // --second-bg: #252525;

    --main-text-color: #ffffff;
    // --second-text-color: #ffffff;

    --selector-color: #ffffff;
    --selector-bg: #ff000080;   //50%

    --a-hover: #252525;
    --a-bg-hover: #ffffff80;   //50%
}
//==================================================
////============ FONT ==============================
//==================================================
$main-font-family: "Arial";
// $second-font-family: "Arial";
// $third-font-family: "Arial";
$main-font-size: 14px;
$main-font-style: normal;
$main-font-weight: 400;
$main-line-height: 1;

