
$container: 1220px;
$logo-max-width: 60px;
$logo-max-height: 60px;

$main-bg: #ffffff;

$main-text-color: #252525;

$selector-color: #ffffff;
$selector-bg: #ff000080;   //50%

// $link-color: darkred;
// $link-bg: lightcoral;

$link-color-hover: green;
$link-bg-hover: darkblue;

:root {
    --main-bg:          #{$main-bg};

    --main-text-color:  #{$main-text-color};

    --selector-color:   #{$selector-color};
    --selector-bg:      #{$selector-bg}80;

    // --link-color: #{$link-color};
    // --link-bg: #{$link-bg};

    --link-color-hover: #{$link-color-hover};
    --link-bg-hover: #{$link-bg-hover};
}
.dark-theme {
    --main-bg:          #{$main-text-color};

    --main-text-color:  #{$main-bg};

    --selector-color:   #{$selector-color};
    --selector-bg:      #{$selector-bg}80;

    // --link-color: #{$link-color};
    // --link-bg: #{$link-bg};

    --link-color-hover: #{$link-color-hover};
    --link-bg-hover: #{$link-bg-hover};
}


$main-font-family: "Arial";

$main-font-size: 14px;
$main-font-style: normal;
$main-font-weight: 400;
$main-line-height: 1;

