
$container: 1220px;


$main-bg: #ffffff;

$main-text-color: #252525;

$selector-color: #ffffff;
$selector-bg: #ff000080;   //50%

//$a-hover: #ffffff;
//$a-bg-hover: #25252580;   //50%

:root {
    --main-bg:          #{$main-bg};

    --main-text-color:  #{$main-text-color};

    --selector-color:   #{$selector-color};
    --selector-bg:      #{$selector-bg}80;

    --a-hover:          #{$main-bg};
    --a-bg-hover:       #{$main-text-color}80;
}
.dark-theme {
    --main-bg:          #{$main-text-color};

    --main-text-color:  #{$main-bg};

    --selector-color:   #{$selector-color};
    --selector-bg:      #{$selector-bg}80;

    --a-hover:          #{$main-text-color};
    --a-bg-hover:       #{$main-bg}80;
}


$main-font-family: "Arial";

$main-font-size: 14px;
$main-font-style: normal;
$main-font-weight: 400;
$main-line-height: 1;

