.logo {
    display: inline-flex;
    // align-self: start;
    -webkit-user-select: none; /* Safari, Chrome та нові версії Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer та Edge */
    user-select: none; /* Стандарт */
    &__img {
        max-width: 60px;
        max-height: 60px;
    }
}