@media (prefers-color-scheme: dark) { 
    :root {
        --main-bg:          #{$main-text-color};

        --main-text-color:  #{$main-bg};

        --selector-color:   #{$selector-color};
        --selector-bg:      #{$selector-bg}80;

        // --link-color: #{$link-color};
        // --link-bg: #{$link-bg};
    
        --link-color-hover: #{$link-color-hover};
        --link-bg-hover: #{$link-bg-hover};
    }
}
@media (prefers-color-scheme: light) { 
    :root {
        --main-bg:          #{$main-bg};

        --main-text-color:  #{$main-text-color};

        --selector-color:   #{$selector-color};
        --selector-bg:      #{$selector-bg}80;

        // --link-color: #{$link-color};
        // --link-bg: #{$link-bg};
    
        --link-color-hover: #{$link-color-hover};
        --link-bg-hover: #{$link-bg-hover};
    }
}